@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Martel+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  font-family: "Roboto", sans-serif;
  word-break: keep-all;
  background-color: rgba(8, 8, 8, 0.89);
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 100%;
  height: 50px;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  align-self: center;
}

.navbar li {
  margin: 0 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.navbar li:nth-child(2) {
  margin-top: -10px;
  margin-right: 70px;
}

.logo img {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.buttons {
  background-color: #e50914;
  padding: 7px 17px;
  color: white;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  font-size: 1rem;
}

.main {
  width: 100%;
  margin-top: -100px;
  background-size: cover;
  align-items: center;
  overflow-x: hidden;
  justify-content: center;
  display: flex;
  background-position: center;
  min-height: 710px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../image/back-con.jpg');
}

.area {
  color: white;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
}

.area h1 {
  font-size: 60px;
  word-spacing: 15px;
  line-height: 75px;
}

.area h3 {
  margin-top: -30px;
  font-size: 27px;
  font-weight: normal;
}

.search {
  width: 150%;
  background-color: none;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 10px;
}

.box {
  width: 450px;
  min-height: 65px;
}

.try {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #e50914;
  min-height: 70px;
  width: 280px;
  font-size: 30px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.image {
  position: relative;
  overflow: hidden;
  height: auto;
  z-index: 3;
}

.tv {
  position: relative;
  z-index: 2;
}

.tv2 {
  position: relative;
  z-index: 2;
}

.tv_video {
  width: 100%;
  height: 100%;
  z-index: 0;
  max-width: 100%;
}

.tv_ani {
  width: 100%;
  height: 100%;
  max-width: 73%;
  max-height: 54%;
  position: absolute;
  top: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.tv_ani2 {
  width: 100%;
  height: 100%;
  max-width: 63%;
  max-height: 47%;
  position: absolute;
  top: 34%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.tv_video2 {
  width: 100%;
  height: 100%;
  z-index: 0;
  max-width: 100%;
}

.area h4 {
  margin-top: 10px;
  font-weight: normal;
}

.container1 {
  width: 100%;
  min-height: 460px;
  background-color: black;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
  position: relative;
}

.container1 img {
  display: flex;
  justify-content: center;
  flex-direction: row;
  object-fit: contain;
  object-position: center;
  align-self: center;

  max-width: 100%;
  height: 350px;
}

.bwrap {
  
  width: 48%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
   
    padding: 50px 5%;
    margin-bottom: 0;
    background: 0 0;
    color: #fff;
}


.image2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-self: center;
  object-fit: contain;

}
.image2 img{
  display: flex;
    justify-content: center;
    flex-direction: row;
    object-fit: contain;
    object-position: center;
    align-self: center;
    max-width: 100%;
    height: 350px;
}

.story_ani_wrap {
  position: absolute;
  left: 30%;
  bottom: 8%;
  padding: 0.5em 0.75em;
  -webkit-transform: translateX(-40%);
  -moz-transform: translateX(-40%);
  -ms-transform: translateX(-40%);
  -o-transform: translateX(-40%);
  transform: translateX(-40%);
  margin: 0 auto;
  background: #000;
  width: 40%;
  min-width: 15em;
  border: 2px solid rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 0 2em 0 #000;
  -moz-box-shadow: 0 0 2em 0 #000;
  box-shadow: 0 0 2em 0 #000;
  -webkit-border-radius: .75em;
  -moz-border-radius: .75em;
  border-radius: .75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.story_ani_txt {
  flex-grow: 1;
}

.story_ani_wrap:after {
  width: 3em;
  height: 3em;
  display: block;
  background: url('../video/download-icon.gif') center no-repeat;
  background-size: 100%;
  content: '';
}

.story_ani_img {
  margin: 0 1em 0 0;
}

.story_ani_img img {
  height: 5em;
}

#st_txt1 {
  color: #fff;
  font-weight: 600;
  font-size: 1em;
}

#st_txt2 {
  color: #0071eb;
  font-size: 0.9em;
  font-weight: 400;
}

.wrap2 {
  min-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.emailtit {
  text-align: center;
  font-size: 1.2rem;
  padding-top: 40px;
  margin: 0 auto;
  font-weight: 400;
  color: #fff;
}

.text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: center;
  align-content: center;
  transform: translate(-30%,0%);

}



.text p {
  font-size: 1.5rem;
  margin-top: 5px;
}

.text h1 {
  font-size: 3.125rem;
}

.question {
  width: 100%;
  min-height: 950px;
  background-color: #000;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.question h1 {
  text-align: center;
  color: white;
  margin-bottom: 50px;
  text-align: center;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quest {
  width: 51%;
  min-height: 75px;
  background-color: #303030;
  color: white;
  align-items: center;
  justify-content: space-between;
  display: flex;
  text-align: left;
  flex-direction: row;
  margin: 5px 0;
}

.quest .textbox {
  display: flex;
  text-align: left;

  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-self: center;
  font-size: 25px;
  margin: 0 30px;
  word-spacing: 5px;
  text-align: left;
}

.quest i {
  margin: 0 30px;
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.quest:focus {
  background-color: red;
}

.search1 {
  width: 50%;
  background-color: none;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 10px;
}

.box1 {
  width: 100%;
  min-height: 65px;
}

.try1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #e50914;
  min-height: 70px;
  width: 70%;
  color: white;
  font-size: 30px;
  margin: 50px 0;
  text-transform: uppercase;
}

.question h4 {
  color: white;
  margin-top: -20px;
  padding-bottom: 40px;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 375px;
  background-color: black;
  margin-top: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

}

.footercon {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50px;
  background-color: transparent;
}

.footer .flex1 {
  color: #999;
  ;
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  font-size: 17px;
  min-height: 30px;

}

.footer .flex1 h5 {
  align-self: flex-start;
}

.flex1 h5 a {
  color: #757575;
  text-decoration: none;
  background-color: transparent;
}

.list1 {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-items: flex-start;
  align-self: center;
  justify-content: center;
  min-height: 50px;
  font-size: 13px;
  padding: 0px 70px;
  text-align: left;
}

.list1 li {
  font-size: 13px;
  margin: 7px -10px;
  list-style-type: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-items: center;
  align-self: flex-start;
  justify-content: center;
}

.list1 li a {
  color: #999;
  text-decoration: none;
  font-size: 14px;
}

li a {
  font-size: 13px;
  text-align: center;
  color: #999;
}


.footertxt {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.end {
  width: 100%;
  min-height: 50px;
  background-color: black;
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #999;
  margin-top: -60px;
}

.end h2 {
  display: flex;
  flex-direction: row;
  font-size: 16px;
}

@media (min-width: 250px) and (max-width: 980px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
  }

  .area h1 {
    font-size: 40px;
    line-height: 60px;
  }

  .area h3 {
    margin-top: 10px;
  }

  .container1 img {
    width: 60%;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center;
    padding: 0;
    min-height: 250px;
    margin-bottom: 30px;

  }



  .search {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 50%;
    margin: 0 10px;
  }

  .box {
    width: 100%;
    margin-bottom: 20px;
    margin: 30px;
  }

  .try {
    width: 200px;
    margin: 0 10px;
    font-size: 17px;
    min-height: 50px;
  }

  .search1 {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 50%;
    margin: 0 10px;
    margin-bottom: 40px;
  }

  h4 {
    color: white;
  }

  .box1 {
    width: 100%;
    margin-bottom: 20px;
    margin: 30px;
  }

  .try1 {
    width: 200px;
    margin: 0 10px;
    font-size: 17px;
    min-height: 50px;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

  .text h1 {
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .text p {
    font-size: 1.2rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .quest .textbox {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .quest {
    width: 80%;
    min-height: 75px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .story_ani_wrap {
    padding: .5em .75em;

  }

  .wrap2 {
    flex-flow: column;
  }

}