@charset "UTF-8";
@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

        /* 초기화 설정 */
        * {
            margin: 0;
            padding: 0;
            font-family: 'MaplestoryOTFBold';
        
            font-weight: normal;
            font-style: normal;
         
        }
        
        body,
        html {
            width: 100%;
            min-width: 1280px;
           overflow-x: hidden;
           overflow-y: auto;
        }
        
        ul {
            list-style: none; display: block;  border: 0 none;
        }
        
        a {
            text-decoration: none;
        }
        div {
            display: block;
        }
        
        
        
        /* 공통 스타일 */
       
        .container-fluid{
            width: 100%; clear:both; position:relative; overflow:hidden;
        }



        .hd {
            clear: both;
            width: 100%;
            height: 80px;
           position: fixed;
            z-index: 10000;
        }

        #yjo{ width: 300px; height: 400px;}
        #yjo:hover{
            transform: scale(1.1);
        }
        
        .tnb_wrap {width: 1000px; height: 100px;  font-size: 20px;}
        .tnb_wrap ul { width: 800px; height: 100px; }
    
        .tnb_wrap ul li a {text-align: center; margin: auto; color: #000000;
            height: 40px;}
        .sub {width: 0%;transition: all ease 2s 0s ;
        
        }
        
        .tnb_sub{display: none;
            border: 3px solid #fff;
            box-shadow: 0 0 16px rgb(221, 221, 221);}
       
        .tnb1,.tnb2,.tnb3,.tnb4 {
            border: 3px solid #fff;
            box-shadow: 0 0 16px rgb(221, 221, 221);
            width: 120px; height: 40px; background-color:#949495; margin-top: 10px; float: left; margin-right: 5px;
            cursor: pointer;
            text-align: center;
           
            }
        
        .tnb1:hover ~ #sub1 {display: block; width: 120px; height: 40px; background-color:#949495; margin-top: 10px; float: left; margin-right: 5px;}
        .tnb2:hover ~ #sub2 {display: block;width: 120px; height: 40px; background-color:#949495; margin-top: 10px; float: left; margin-right: 5px;}
        .tnb3:hover ~ #sub3 {display: block;width: 120px; height: 40px; background-color: #949495; margin-top: 10px; float: left; margin-right: 5px;}
        .tnb4:hover ~ #sub4 {display: block;width: 120px; height: 40px; background-color: #949495; margin-top: 10px; float: left; margin-right: 5px;}
        
        #content1 { position: relative; width: 100%; height: 500px; background-image: url('./img/main_image.gif'); background-attachment: fixed; background-size: 100% 70%; }
        .left_myimg{position: absolute; left: 10%; top: 12%;}
        .right_txt { position: relative; top: 12%; left: 40%;  width: 400px; height: 200px; font-size: 20px; color: aliceblue;}
       
        .skill {text-align: center; font-size: 500%;}
        .box4 {margin-right: 0%;}
        .box_wrap {position: relative;}
        .box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8        { float: left; width: 24%; height: 20%; background-color: aliceblue; margin-right: 1%; margin-bottom: 15px;
        border: 5px black solid;
        } 
        .skill_img {width: 100%; height: 200px; object-fit: contain; }
       #p1{width: 100%; height: 50px;}
       #content2{position: relative; width: 100%; height: 700px; font-size: 20px;
       }
       #b1,#b2,#b3,#b4,#b5,#b6,#b7,#b8 { width: 300px; height: 200px; position: absolute; top: 10px; left: 85px; z-index: 2;} 
       

       .b_txt{     animation-name: pull;
        animation-duration: 2s;
        animation-delay: 0.3s;
        -moz-animation: pull 2s ease-out;
        -webkit-animation: pull 2s ease-out;
        
        position: absolute;
        left: 45%;
        top: 40%;
    }
    .b_txt2{     animation-name: pull2;
        animation-duration: 2s;
        animation-delay: 0.3s;
        -moz-animation: pull2 2s ease-out;
        -webkit-animation: pull2 2s ease-out;
        
        position: absolute;
        left: 45%;
        top: 40%;
    }
    .b_txt3{     animation-name: pull3;
        animation-duration: 2s;
        animation-delay: 0.3s;
        -moz-animation: pull3 2s ease-out;
        -webkit-animation: pull3 2s ease-out;
        
        position: absolute;
        left: 45%;
        top: 40%;
    }
    .b_txt4{     animation-name: pull4;
        animation-duration: 2s;
        animation-delay: 0.3s;
        -moz-animation: pull4 2s ease-out;
        -webkit-animation: pull4 2s ease-out;
        
        position: absolute;
        left: 45%;
        top: 40%;
    }
    .b_txt5{     animation-name: pull5;
        animation-duration: 2s;
        animation-delay: 0.3s;
        -moz-animation: pull5 2s ease-out;
        -webkit-animation: pull5 2s ease-out;
        
        position: absolute;
        left: 45%;
        top: 40%;
    }
    .b_txt6{     animation-name: pull6;
        animation-duration: 2s;
        animation-delay: 0.3s;
        -moz-animation: pull6 2s ease-out;
        -webkit-animation: pull6 2s ease-out;
        
        position: absolute;
        left: 45%;
        top: 40%;
    }
    .b_txt7{     animation-name: pull7;
        animation-duration: 2s;
        animation-delay: 0.3s;
        -moz-animation: pull7 2s ease-out;
        -webkit-animation: pull7 2s ease-out;
        
        position: absolute;
        left: 45%;
        top: 40%;
    }
    .b_txt8{     animation-name: pull8;
        animation-duration: 2s;
        animation-delay: 0.3s;
        -moz-animation: pull8 2s ease-out;
        -webkit-animation: pull8 2s ease-out;
        
        position: absolute;
        left: 45%;
        top: 40%;
    }
    .b_bar, .b_bar2, .b_bar3, .b_bar4, .b_bar5, .b_bar6, .b_bar7, .b_bar8{position: absolute; z-index: 0;
        top: 60px; left: 102px;
        padding: 0;
        list-style: none;
        width: 250px;}
                 
        .b_bar li {
            width: 250px; height: 100px; background-color: greenyellow;
        -moz-animation: pull 2s ;
        -webkit-animation: pull 2s ;
        -webkit-animation-fill-mode:both;
        } 
        .b_bar2 li {
            width: 250px; height: 100px; background-color: greenyellow;
        -moz-animation: pull2 2s ;
        -webkit-animation: pull2 2s ;
        -webkit-animation-fill-mode:both;
        }
        .b_bar3 li {
            width: 250px; height: 100px; background-color: greenyellow;
        -moz-animation: pull3 2s ;
        -webkit-animation: pull3 2s ;
        -webkit-animation-fill-mode:both;
        }
        .b_bar4 li {
            width: 250px; height: 100px; background-color: greenyellow;
        -moz-animation: pull4 2s ;
        -webkit-animation: pull4 2s ;
        -webkit-animation-fill-mode:both;
        }
        .b_bar5 li {
            width: 250px; height: 100px; background-color: greenyellow;
        -moz-animation: pull5 2s ;
        -webkit-animation: pull5 2s ;
        -webkit-animation-fill-mode:both;
        }
        .b_bar6 li {
            width: 250px; height: 100px; background-color: greenyellow;
        -moz-animation: pull6 2s ;
        -webkit-animation: pull6 2s ;
        -webkit-animation-fill-mode:both;
        }     
        .b_bar7 li {
            width: 250px; height: 100px; background-color: greenyellow;
        -moz-animation: pull7 2s ;
        -webkit-animation: pull7 2s ;
        -webkit-animation-fill-mode:both;
        } 
        .b_bar8 li {
            width: 250px; height: 100px; background-color: greenyellow;
        -moz-animation: pull8 2s ;
        -webkit-animation: pull8 2s ;
        -webkit-animation-fill-mode:both;
        } 
        @keyframes pull {
            from {
                width: 0%;
                
            }
            to {
                width: 80%;
                
            }
           }
           @keyframes pull2 {
            from {
                width: 0%;
                
            }
            to {
                width: 40%;
                
            }
           }
           @keyframes pull3 {
            from {
                width: 0%;
                
            }
            to {
                width: 50%;
                
            }
           }
           @keyframes pull4 {
            from {
                width: 0%;
                
            }
            to {
                width: 70%;
                
            }
           }
           @keyframes pull5 {
            from {
                width: 0%;
                
            }
            to {
                width: 70%;
                
            }
           }
           @keyframes pull6 {
            from {
                width: 0%;
                
            }
            to {
                width: 50%;
                
            }
           }
           @keyframes pull7 {
            from {
                width: 0%;
                
            }
            to {
                width: 70%;
                
            }
           }
           @keyframes pull8 {
            from {
                width: 0%;
                
            }
            to {
                width: 70%;
                
            }
           }
        .fadein{
            animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
        }
        @keyframes fadein {
            from {
                opacity:0;
            }
            to {
                opacity:1;
            }
        }
        @-moz-keyframes fadein { /* Firefox */
            from {
                opacity:0;
            }
            to {
                opacity:1;
            }
        }
        @-webkit-keyframes fadein { /* Safari and Chrome */
            from {
                opacity:0;
            }
            to {
                opacity:1;
            }
        }
        @-o-keyframes fadein { /* Opera */
            from {
                opacity:0;
            }
            to {
                opacity: 1;
            }
        }
        
      
    #s_wrap, #s_wrap2, #s_wrap3, #s_wrap4, #s_wrap5, #s_wrap6, #s_wrap7, #s_wrap8 {
        display: none;
    }
      #s_wrap{background-color: aliceblue;
    width: 24%; height: 230px;
    border: 5px black solid ;
    position: absolute;
    left: 0px;
    }

    #s_wrap2{background-color: aliceblue;
        width: 24%; height: 230px;
        border: 5px black solid ;
        position: absolute;
        left: 25%;
        }
        #s_wrap3{background-color: aliceblue;
            width: 24%; height: 230px;
            border: 5px black solid ;
            position: absolute;
            left: 50%;
            }
            #s_wrap4{background-color: aliceblue;
                width: 24%; height: 230px;
                border: 5px black solid ;
                position: absolute;
                left: 75%;
                }
                #s_wrap5{background-color: aliceblue;
                    width: 24%; height: 230px;
                    border: 5px black solid ;
                    position: absolute;
                    left: 0%;
                    }
                    #s_wrap6{background-color: aliceblue;
                        width: 24%; height: 230px;
                        border: 5px black solid ;
                        position: absolute;
                        left: 25%;
                        z-index: 3;
                        }
                        #s_wrap7{background-color: aliceblue;
                            width: 24%; height: 230px;
                            border: 5px black solid ;
                            position: absolute;
                            left: 50%;
                            z-index: 3;
                            }
                            #s_wrap8{background-color: aliceblue;
                                width: 24%; height: 230px;
                                border: 5px black solid ;
                                position: absolute;
                                left: 75%;
                                }
    #content3{position: relative; z-index: 0; width: 100%; height: 700px;}
    .pro_wrap{position: relative; background-color: #424242; width: 60%; height: 500px; margin: 0 auto; overflow: hidden; }
    .img_wrap{position: absolute; width:1500px; height: 230px; }
    .img_wrap img {width: 380px; height:230px; }
    .micro {position: absolute; width: 600px; left: 3%; top: 10%; border: 3px solid #fff; box-shadow: 0 0 16px rgb(221, 221, 221);}
    .img_container{overflow: hidden; width: 380px; height: 230px; position: relative; top: 198px; left: 90px;}
    .btn1{position: absolute; left: 47%; top: 53%; width: 95px; height: 93px; border-radius: 70%; border: 6px solid #fff; box-shadow: 0 0 16px rgb(221, 221, 221); cursor: pointer;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .btn2{position: absolute; left: 47%; top: 368px;  width: 95px; height: 93px; border-radius: 70%; border: 6px solid #fff;
    box-shadow: 0 0 16px rgb(221, 221, 221);
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .btn1:hover{    -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        transform: scale(1.08);
        
    }
    .btn2:hover{    -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        transform: scale(1.08);
    }
    .nixwrap{
        position: absolute;
        overflow: hidden;
        width: 112px;
        height: 70px;
        float: left;
        top: 150px;
        left: 517px;
        background-color: #000000;
        
    }
    .nixbg{
        float: left;
        position: relative;
        margin-right: 3px;
        width: 25px;
        height: 70px;
        background-image: url('./img/nixie.png');
        background-size: cover;
        
    }
    .nix{
        width: 100%;
    text-align: center;
    position: absolute;
    color: rgba(60, 40, 20, 1 );
    pointer-events: none;
    transition: color 0.5s, text-shadow 0.5s;
    transition-timing-function: ease-out;
    font-family: 'Josefin Sans', sans-serif;
        font-size: 50px;
        font-weight: 300;
        line-height: 65px;
        z-index: 0;
        

    }
    .nix_s4_1 {
        transition: color 0.2s, text-shadow 0.2s;
        transition-timing-function: ease-out;
        color: transparent;
        text-shadow: 0 0 1px rgba(254, 252, 124, 1 ), 0 0 3px rgba(255, 217, 54, 0.7 ), 0 0 5px rgba(255, 0, 0, 1 ), 0 0 14px rgba(255, 0, 0, 1 ), 0 0 17px rgba(255, 0, 0, 1 ), 0 0 20px rgba(255, 0, 0, 1 ), 0 5px 25px rgba(0, 0, 255, 0.9 );
        font-weight: 300;
        z-index: 10;

    }
    
    .nix_active{
        transition: color 0.2s, text-shadow 0.2s;
    transition-timing-function: ease-out;
    color: transparent;
    text-shadow: 0 0 1px rgba(254, 252, 124, 1 ), 0 0 3px rgba(255, 217, 54, 0.7 ), 0 0 5px rgba(255, 0, 0, 1 ), 0 0 14px rgba(255, 0, 0, 1 ), 0 0 17px rgba(255, 0, 0, 1 ), 0 0 20px rgba(255, 0, 0, 1 ), 0 5px 25px rgba(0, 0, 255, 0.9 );
    font-weight: 300;
    z-index: 10;
    }
    .txt_container{
        position: relative; overflow: hidden; width: 400px; height: 412px; background-color: #fff;
        top: -180px;
        left: 60%;
        border: 3px solid #fff; box-shadow: 0 0 16px rgb(221, 221, 221);
    }
    .txt_wrap{
        position: absolute; width: 1200px; height: 300px;
        
    }
    .txt_wrap ul{
        float: left;
        width: 400px;
        height: 300px;

        font-size: 25px;
    }
    .txt_wrap ul li {
        padding-bottom: 30px;
    }
    
    #content4{width: 100%; height: 500px;}
    .con_wrap{width: 60%; margin: 0 auto; height: 500px; background-color: #fff;}
    .left_txt{width: 50%;height: 100%;}
    .txt_box{
        float: left; 
    flex-direction: column;
    width: 50%;
    background-color: #292d33;
    height: 50%;
    color: #fff;
    text-align: center;
    padding-top: 50px;
    }
    #phone{
        width: 60px; height: 90px;
        
    }
    .con_img{
        width: 80px;
        height: 60px;
    }
    .box_1{
       
    }